**/.vscode/**/*
**/node_modules/**/*
**/.cache/**/*
**/public/**/*
**/static/**/*
**/fonts/**/*
**/images/**/*
**/typescript-fetch/**/*
./**/package-lock.json
./**/package.json
swagger.json
update-swagger.bat

tsconfig.json
README.md
**/.*
**/*.d.ts

apis/*
models/*
openapi2graphql
.openapi-generator-ignore
index.ts
openapitools.json
runtime.ts
.openapi-generator/*
src/data/*